# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
.vscode/
.packages

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Android ile ilgili (varsa)
android/.gradle/
android/captures/
android/.idea/
android/local.properties
android/.settings/

# iOS ile ilgili (varsa)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
ios/.idea/

# macOS ile ilgili (varsa)
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/.generated/

# Web ile ilgili (varsa)
web/.dart_tool/

# Windows ile ilgili (varsa)
windows/Flutter/ephemeral/

# Linux ile ilgili (varsa)
linux/flutter/ephemeral/

# Genel IDE ayarları
*.swp
*.lock
*.DS_Store
*.log

# ProjeBackend (.NET) için
ProjeBackend/bin/
ProjeBackend/obj/
ProjeBackend/.vs/
ProjeBackend/*.user
ProjeBackend/*.suo
ProjeBackend/*.cache
ProjeBackend/*.dbmdl
ProjeBackend/.vscode/
ProjeBackend/.idea/

# Dotnet global
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
